<!doctype html>

<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<title>UCI Triangle Minecraft Server Dashboard</title>

<style>

.header {
    overflow: hidden;
    border-left: 6px solid red;
    background-color: black;
    font-size: 20px;
    color: white;
    position: fixed;
    top: 0;
    width: 100%
}

.main {
    margin-top: 30px;
    margin-bottom: 50px;
}

#messages { list-style-type: none; margin: 0; padding: 0; }
#messages li { padding: 5px 10px; }
#messages li:nth-child(odd) { background: #eee; }

.inputMessage {
  border: 5px solid #000;
  bottom: 0;
  height: 30px;
  left: 0;
  outline: none;
  padding-left: 5px;
  position: fixed;
  right: 0;
  width: 100%;
}

</style>
</head>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script>
    function addMessage(msg) {
        $('#messages').append($('<li>').text(msg));
        //window.scrollTo(0, document.body.scrollHeight);
        window.scroll({top: document.body.scrollHeight, behavior: "smooth"});
    }
    function headerDown() {
        $("#headerText").text("Minecraft server currently down");
    }
    function updateHeader() {
        $.getJSON("{{ url_for('index.status') }}", function(data){
            if(data.serverUp)
            {
                text = "The server has the following players online (" +
                    data.players.online + "/" + data.players.max +
                    "): " + data.players.names.join(', ');
                $("#headerText").text(text);
            }
            else
            {
                headerDown();
                $('#messages').empty();
            }
        }).fail(function(jqxhr, textStatus, error) {
            console.log("Server Down");
            headerDown();
            $('#messages').empty();
        });
    }
    function loadChat() {
        $('#messages').empty();
        $.getJSON("{{ url_for('index.status') }}", function(data){
            if(data.serverUp)
            {
                $.getJSON("{{ url_for('index.messages') }}", function(data){
                    for(i = 0; i < data.messages.length; i++)
                    {
                        addMessage(data.messages[i]);
                    }
                });
            }
        });
    } 
    $(function () {
        var socket = io({transports: ['polling']});
        socket.on('server connect', function(){
            updateHeader();
        });
        socket.on('server log', addMessage);
        socket.on('server disconnect', function(){
            headerDown();
            $('#messages').empty();
        });
        socket.on('update header', updateHeader);
        socket.on('disconnect', function() {
            updateHeader();
            console.log('Disconnected')
        });
        socket.on('connect', function() {
            updateHeader();
            loadChat();
            //window.scrollTo(0, document.body.scrollHeight);
            window.scrollTo({top: document.body.scrollHeight, behavior: "smooth"});
        });
        function sendMessage() {
            // I know this should probably be done server side but this is a lot easier
            var message = $('.inputMessage').val()
                .replace(/[\u2018\u2019]/g, "'")
                .replace(/[\u201C\u201D]/g, '"');
            $('.inputMessage').val('');
            socket.emit('minecraft message', message);
        }
        $(window).keydown(event => {
            if(!(event.ctrlKey || event.metaKey || event.altKey)) {
                $(".inputMessage").focus();
            }
            if(event.which === 13) {
                sendMessage();
            }
        });
    });
</script>
<body>
<div class="header">
    &nbsp;
    
    <span id=headerText>Connecting to chat server...</span>
<!--
    {% if serverUp %}
        The server has the following players online 
        ({{ query.players.online }}/{{ query.players.max }}): 
        {{ ", ".join(query.players.names) }}
    {% else %}
        Minecraft server currently down
    {% endif %}
-->
</div>
<div class="main">
    <p>
    <ul id="messages">
    </ul>
</div>
<input class="inputMessage" type="text"/>
</body>
</html>
